body {
  background: linear-gradient(
    179.1deg,
    rgb(247, 238, 238) -1.9%,
    rgb(247, 202, 201) 44.9%,
    rgb(145, 168, 208) 96.1%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.meteo-app {
  background: #f3f2f5;
  max-width: 700px;
  margin: 10px auto;
  padding: 50px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
}
